<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Dealogic VSTS" value="https://dealogic.pkgs.visualstudio.com/_packaging/Dealogic/nuget/v3/index.json" />
    <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>